In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [2]:
#Importing Dataset
fake_data = pd.read_csv("Fake.csv")
true_data = pd.read_csv("True.csv")

In [3]:
fake_data.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
fake_data.shape

(23481, 4)

In [5]:
true_data.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
true_data.shape

(21417, 4)

In [7]:
#Inserting a column "class" as target feature
fake_data["class"] = 0
true_data["class"] = 1

In [8]:
# Removing last 10 rows for manual testing
fake_data_manual_testing = fake_data.tail(10)
for i in range(23480,23470,-1):
    fake_data.drop([i], axis = 0, inplace = True)
    
    
true_data_manual_testing = true_data.tail(10)
for i in range(21416,21406,-1):
    true_data.drop([i], axis = 0, inplace = True)

In [9]:
fake_data_manual_testing

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [10]:
fake_data.shape, true_data.shape

((23471, 5), (21407, 5))

In [11]:
fake_data_manual_testing["class"] = 0
true_data_manual_testing["class"] = 1

<ipython-input-11-f0a870723dd4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_data_manual_testing["class"] = 0
<ipython-input-11-f0a870723dd4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  true_data_manual_testing["class"] = 1

In [12]:
fake_data_manual_testing

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [13]:
manual_testing = pd.concat([fake_data_manual_testing,true_data_manual_testing], axis = 0)
manual_testing.to_csv("manual_testing.csv")

In [14]:
manual_testing

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [15]:
# Merging True and Fake Dataframes
merge = pd.concat([fake_data, true_data], axis =0 )
merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [16]:
merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [17]:
# Remove columns which are not required
merge_drop = merge.drop(["title", "subject","date"], axis = 1)

In [18]:
#我們可以使用 df.isnull().sum() 方法獲得每一列中 NaN 出現的次數。
#如果我們在 sum 方法中傳遞了 axis=0，它將給出每列中出現 NaN 的次數。如果需要在每行中出現 NaN 次，我們需要設定 axis=1
merge_drop.isnull().sum()

text     0
class    0
dtype: int64

In [19]:
#Random Shuffling the dataframe
merge_drop = merge_drop.sample(frac = 1)

In [20]:
merge_drop.head()

                                                    text  class
12550  Jimmy Carter s Democrat pollster Pat Caddell i...      0
21295  KABUL (Reuters) - A four-year-old boy photogra...      1
3095   He went there. We all knew he d go there, but ...      0
970    (Reuters) - Former President Barack Obama, bac...      1
19199  HALABJA, Iraq (Reuters) - When poison gas kill...      1

In [21]:
merge_drop.reset_index(inplace = True)
merge_drop.drop(["index"], axis = 1, inplace = True)

In [22]:
merge_drop.columns

Index(['text', 'class'], dtype='object')

In [23]:
merge_drop.head()

                                                text  class
0  Jimmy Carter s Democrat pollster Pat Caddell i...      0
1  KABUL (Reuters) - A four-year-old boy photogra...      1
2  He went there. We all knew he d go there, but ...      0
3  (Reuters) - Former President Barack Obama, bac...      1
4  HALABJA, Iraq (Reuters) - When poison gas kill...      1

In [24]:
# Creating a function to process the texts
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [25]:
merge_drop["text"] = merge_drop["text"].apply(wordopt)

In [26]:
# Defining dependent and independent variables
x = merge_drop["text"]
y = merge_drop["class"]

In [27]:
# Splitting Training and Testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [28]:
#Convert text to vectors
from sklearn.feature_extraction.text import TfidfVectorizer

vector = TfidfVectorizer()
xv_train = vector.fit_transform(x_train)
xv_test = vector.transform(x_test)

In [29]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [30]:
pred_lr=LR.predict(xv_test)

In [31]:
LR.score(xv_test, y_test)

0.9870766488413547

In [32]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5852
           1       0.98      0.99      0.99      5368

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [33]:
#Decision Tree 
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [34]:
pred_dt = DT.predict(xv_test)

In [35]:
DT.score(xv_test, y_test)

0.9958110516934047

In [36]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5852
           1       1.00      0.99      1.00      5368

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [37]:
#Gradient Boosting Classifier
from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [38]:
pred_gbc = GBC.predict(xv_test)

In [39]:
GBC.score(xv_test, y_test)

0.9958110516934047

In [40]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5852
           1       0.99      1.00      1.00      5368

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [41]:
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

RFC = RandomForestClassifier(random_state=0)
RFC.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [42]:
pred_rfc = RFC.predict(xv_test)

In [43]:
RFC.score(xv_test, y_test)

0.9888591800356507

In [44]:
print(classification_report(y_test, pred_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5852
           1       0.99      0.99      0.99      5368

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [47]:
#Model Testing
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vector.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR[0]),                                                                                                       output_lable(pred_DT[0]), 
                                                                                                              output_lable(pred_GBC[0]), 
                                                                                                              output_lable(pred_RFC[0])))

In [56]:
news = str(input())
manual_testing(news)

Oct 1 (Reuters) - Worldwide deaths related to COVID-19 surpassed 5 million on Friday, according to a Reuters tally, with unvaccinated people particularly exposed to the virulent Delta strain.  The variant has exposed the wide disparities in vaccination rates between rich and poor nations, and the upshot of vaccine hesitancy in some western nations.  More than half of all global deaths reported on a seven-day average were in the United States, Russia, Brazil, Mexico and India.  While it took just over a year for the COVID-19 death toll to hit 2.5 million, the next 2.5 million deaths were recorded in just under eight months, according to a Reuters analysis.  An average of 8,000 deaths were reported daily across the world over the last week, or around five deaths every minute. However, the global death rate has been slowing in recent weeks.Delhi, India, April 24, 2021. REUTERS/Danish Siddiqui/File Photo  Oct 1 (Reuters) - Worldwide deaths related to COVID-19 surpassed 5 million on Friday, according to a Reuters tally, with unvaccinated people particularly exposed to the virulent Delta strain.  The variant has exposed the wide disparities in vaccination rates between rich and poor nations, and the upshot of vaccine hesitancy in some western nations.  More than half of all global deaths reported on a seven-day average were in the United States, Russia, Brazil, Mexico and India.  While it took just over a year for the COVID-19 death toll to hit 2.5 million, the next 2.5 million deaths were recorded in just under eight months, according to a Reuters analysis.  An average of 8,000 deaths were reported daily across the world over the last week, or around five deaths every minute. However, the global death rate has been slowing in recent weeks.  There has been increasing focus in recent days on getting vaccines to poorer nations, where many people are yet to receive a first dose, even as their richer counterparts have begun giving booster shots.  More than half of the world has yet to receive at least one dose of a COVID-19 vaccine, according to Our World in Data.  The World Health Organization this week said its COVAX distribution programme would, for the first time, distribute shots only to countries with the lowest levels of coverage. read more  Co-led by the WHO, COVAX has since January largely allocated doses proportionally among its 140-plus beneficiary states according to population size.  "For the October supply we designed a different methodology, only covering participants with low sources of supply," Mariangela Simao, WHO Assistant Director General for Access to Vaccines, said in a recording of a conference presentation last week posted on the WHO's website.  The United States, which has been battling vaccine misinformation that has caused about one-third of the population to avoid inoculations, surpassed 700,000 deaths on Friday, the highest toll of any country. read more  U.S. cases and hospitalizations have been trending lower, but health officials are bracing for a possible resurgence as cooler weather forces more activities indoors.  Russia reported 887 coronavirus-related deaths on Friday, the largest single-day death toll it has recorded since the pandemic began and the fourth day in a row it has set that record. Only 33% of Russia's eligible population has received a first vaccine dose. read more  As a region, South America has the highest death toll in the world accounting for 21% of all reported deaths, followed by North America and Eastern Europe contributing more than 14% of all fatalities each, according to Reuters analysis.  However, India, one of the first countries ravaged by the Delta variant, has gone from an average of 4,000 deaths a day to less than 300 as its vaccination campaign is rolled out. read more  About 47% of India's eligible population has received a first shot, with officials administering around 7,896,950 doses per day over the past week, a Reuters analysis of Our World in Data showed.  The Delta variant is now the dominant strain around the globe and has been reported in 187 out of 194 World Health Organization member countries. Reporting by Kavya B and Roshan Abraham in Bengaluru; Editing by Lisa Shumaker and Jane Wardell


LR Prediction: Not A Fake News
DT Prediction: Not A Fake News
GBC Prediction: Not A Fake News
RFC Prediction: Not A Fake News

In [55]:
news = str(input())
manual_testing(news)

Armed forces personnel will begin delivering petrol to garages across the UK from Monday, the government says.  Almost 200 servicemen and women, 100 of them drivers, will provide "temporary" support to ease pressure on stations.  Ministers have also announced that up to 300 overseas fuel tanker drivers will be able to work in the UK immediately until the end of March.  There have been long queues at petrol stations this week after a shortage of drivers disrupted fuel deliveries.      Petrol prices at eight-year high amid fuel crisis     Key workers struggling to travel amid fuel crisis     Is the petrol shortage improving?  Ministers - who have maintained there is enough fuel if people buy at their normal rates - say the situation at petrol station forecourts is improving, with more fuel now being delivered than sold.  But they acknowledge some parts of the country are worse affected than others.  Brian Madderson, chairman of the Petrol Retailers Association, which represents nearly 5,500 of the UK's 8,300 petrol stations said Scotland, the north of England and parts of the Midlands had seen a "distinct improvement" with fewer dry sites.  But he told BBC Radio 4's Today programme it remained a "big problem" in London and south-east England, where "if anything it had got worse."  He said the military drivers will be a "large help" but a "prioritisation of deliveries to filling stations, particularly the independent ones, which are the neighbourhood sites" was needed "immediately".  Mr Madderson warned drivers would see a rise in fuel prices next week, but because of "global factors" not because of profiteering.  On Friday, the RAC motoring group also said the disruption in deliveries was continuing to ease, though many areas were still experiencing supply issues.  Smaller fuel stations were facing major supply problems as drivers filled up for the weekend, it said. 'No shortage of fuel'  Military personnel are currently training at haulier sites and will be on the road delivering fuel supplies across the country to "help fuel stocks further improve" from Monday, the government said.  Defence Secretary Ben Wallace said personnel would be seen working alongside drivers this weekend following training this week.  In addition to the 300 fuel tanker drivers being allowed to work temporarily in the UK, temporary visas are also being offered to 4,700 food haulage drivers who are able to arrive from late October and leave by 28 February 2022.  Visas are being offered to a further 5,500 poultry workers who can come from late October and stay until 31 December.  Previously, the government said these temporary visas would last until Christmas Eve.  Business Secretary Kwasi Kwarteng said there were "continued signs that the situation at the pumps is slowly improving".  "UK forecourt stock levels are trending up, deliveries of fuel to forecourts are above normal levels, and fuel demand is stabilising," he said.  "It's important to stress there is no national shortage of fuel in the UK, and people should continue to buy fuel as normal."


LR Prediction: Not A Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Not A Fake News